.sbgrid_span {										/*SBGrid�� data�� ǥ���ϴ� <span>�� �����ϴ� CSS Ŭ����*/
	padding-left:2px;
	padding-right:2px;
	letter-spacing:normal;
}

.sbgrid_cl_st {										/*������ �÷��� ������ ���� ǥ���ϴ� ColumnLine������ ��Ÿ�� CSS Ŭ����*/
	background-color:#B2BAD2 !important;
	width: 1px !important;
}

.sbgrid_fixed_table_st {							/*��������� ǥ���ϴ� <table>�鿡 ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	background-color:#EAEFF3;
	font-weight: bold;
	text-align:center;
	color:#0E3979;	
}

.sbgrid_data_table_st {								/*��������� �ƴ� �� �����͸� ǥ���ϴ� ������ <table>�鿡 ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	background-color:#FFFFFF;
}

.sbgrid_cell_border_st {							/*Cell�� border�� �����ϴ� CSS Ŭ����*/
	border-width: 1px 1px 1px 0px;/*top, right, bottom, left*/
	border-style: solid;
}

.sbgrid_cell_st {									/*�׸����� ���� ǥ���ϴ� <td>�鿡 ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	border-collapse:collapse !important;
}

.sbgrid_fixed_cell_st {								/*��������� ���� ǥ���ϴ� <td>�鿡 ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	border-color:#B2BAD2;
}

.sbgrid_disabled_fixed_cell_st {
	border-color:#B2BAD2;
}

.sbgrid_data_cell_st {								/*��������� �ƴ� �� ������ ���� ǥ���ϴ� <td>�鿡 ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	border-color:#B2BAD2;
}

.sbgrid_radio_cell_st {								/*�÷� Ÿ���� "radio"�� �� ������ ���� ǥ���ϴ� <td>�鿡 ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	text-align:center;
}

.sbgrid_checkbox_cell_st {							/*�÷� Ÿ���� "checkbox"�� �� ������ ���� ǥ���ϴ� <td>�鿡 ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	text-align:center;
}

.sbgrid_input_text_st {								/*�÷� Ÿ���� "input"�� �� ������ ���� �Է¸�� <input>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	border-style:solid;
	border-color:#80a2c9;
	background-color:#F2F8FC;
	color:#000000;
}

.sbgrid_inputdate_button_st {						/*inputdate ������ <button>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	width:95%;
	height:18px;
	background:url(../img/grid/cal_button.png) no-repeat;
	background-color:#f0f0f0;
	background-position:center;
	border:1px solid #cdcdcd;
	cursor:Pointer;
}

.sbgrid_inputbutton_button_st {						/*inputbutton ������ <button>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	width:19px;
	height:18px;
	background:url(../img/grid/button.png) no-repeat;
	background-position:center;
	border:none;
	cursor:Pointer;
}

.sbgrid_outputbutton_button_st {					/*outputbutton ������ <button>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	width:19px;
	height:18px;
	background:url(../img/grid/button.png) no-repeat;
	background-position:center;
	border:none;
	cursor:Pointer;
}

.sbgrid_group_ui_label_st {							/*SBGrid�� Group UI�� ���� ��ħ ���¸� ��Ÿ���� �������� ǥ���ϴ� <label>�� �����ϴ� ��Ÿ�� CSS Ŭ����*/
	width:16px;
	height:16px;
}

.sbgrid_group_ui_open {								/*SBGrid�� Group UI�� �������� �� ǥ���ϴ� �̹����� �����ϴ� CSS Ŭ����*/
	background-image:url(../img/grid/group_open.png);
}

.sbgrid_group_ui_collapse {							/*SBGrid�� Group UI�� �������� �� ǥ���ϴ� �̹����� �����ϴ� CSS Ŭ����*/
	background-image:url(../img/grid/group_collapse.png);
}

.sbgrid_group_ui_lock {								/*SBGrid�� Group UI�� lock ���� �� �� ǥ���ϴ� �̹����� �����ϴ� CSS Ŭ����*/
	background-image:url(../img/grid/group_lock.png);
}

.sbgrid_lock_ui_st {								/*SBGrid�� Lock UI�� ǥ���ϴ� <div>�� �����ϴ� ��Ÿ�� CSS Ŭ����*/
	background:#000000 url(../img/grid/wait.png) no-repeat center center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); /* IE 7 and olders */
    opacity: .7; 
}

.sbgrid_GA_st {										/*�׸��带 ǥ���ϴ� �ֻ��� <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	font-family: '���� ���', 'Malgun Gothic' !important;	/*�׸��� ��ü�� �۲�*/
	cursor:default;
}

.sbgrid_GFA_st {									/*�г��̳� ����¡UI�� �ƴ� �׸��带 ǥ���ϴ� <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	width:100% !important;				/*�׸����� width*/
	border:1px solid !important;		/*�׸��� �׵θ� */
	border-color:#B2BAD2 !important;
	font-size: 13px !important;			/*�׸��� ��ü�� ��Ʈ ũ��*/
	color: #000000;						/*�׸��� ��ü�� ��Ʈ ��*/
	background-image:url(../img/grid/SBGridLogo.png) !important;/*�׸��� ��� �ΰ�*/
	background-color:#FFFFFF !important;
	background-position:center !important;
	background-size: 254px 60px !important;
	background-repeat:no-repeat !important;
}

.sbgrid_PUIA_st {							/*����¡UI�� ���ΰ� �ִ� �ֻ��� ������ ��Ÿ�� CSS Ŭ����*/
	height:50px;
}

.sbgrid_PUI_BA_st {							/*����¡UI�� �׸������ ������ �ֱ� ���� �߶��� ������ ��Ÿ�� CSS Ŭ����*/
	height:10px;
}

.sbgrid_PUI_WRAP_st {						/*����¡UI�� ǥ���ϴ� <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	text-align:center;
	margin:0 0;
	font-size:12px;
}

.sbgrid_PUI_PN_st {							/*����¡UI�� ǥ���ϴ� <ul>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	display:inline-block;
}

.sbgrid_PUI_PM {							/*����¡UI�� �̵� ��ư�� ǥ���ϴ� <li>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	background: #E1E1E1;
}

.sbgrid_PUI_PN li {
	display: inline-block;
	margin:0;
	padding:0;
	vertical-align: middle;
}

.sbgrid_PUI_PN li a {
	color: black;
	float: left;
	padding: 4px 12px;
	text-decoration:none;
	border: 1px solid #ddd;
}

.sbgrid_PUI_PN li a.active {
	background-color:#8ebf50;
	color:white;
	border:1px solid #8ebf50;
}

.sbgrid_PUI_PN li a:hover {
	background-color: #ddd;
}

.sbgrid_PUI_PN li a.active:hover {
	background-color: #8ebf50;
}

.sbgrid_PUI_PN .goalPage {
	display:inline-block;
	width: 180px;
}

.sbgrid_PUI_PN .goalPage > a {
	display:inline-block;
	line-height:25px;
	background:#666;
	color:#fff;
	border:1px solid #666; 
	height:28px;
	float:right !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-left:11px !important;
	padding-right:11px !important;
}

.sbgrid_PUI_PN .goalPage > a:hover {
	background: #444;
}

.sbgrid_PUI_PN .goalPage > span {
	display: inline-block;
	left:0;
}

.sbgrid_PUI_PN .goalPage > span > input {
	height:28px;
	width: 50px;/*width: 26px;*/
	text-align:center;
	border:1px solid #ddd;
	color:#333;
	padding:0 0 0 0px;
	background:#F3F3F3;
	font-weight:bold;
	vertical-align:middle;
}

.sbgrid_PUI_TPC {
	left:30px;
}

.sbgrid_PUI_PN .sbgrid_PUI_PM > a {
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	margin:0; padding:0;
	height: 28px;
	width: 28px;
}

.sbgrid_PUI_PN .sbgrid_PUI_PM > a:hover {
	background: #BDBDBD;
}

.sbgrid_PUI_NLI > a {
	font-size: 12px;
	line-height:25px;
	text-align: center;
	vertical-align: middle;
	margin:0;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-left:11px !important;
	padding-right:11px !important;
	height: 28px;
}

.sbgrid_MA_st {										/*���� ��ũ�ѹ� ������ ������ �׸��� ���� <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	border-right-color:#B2BAD2 !important;
}

.sbgrid_VSA_st {									/*���� ��ũ�ѹ� ���� <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	background-color:#B2BAD2 !important;
	border-color:#B2BAD2 !important;
}

.sbgrid_WA_st {}									/*��ũ�ѹٸ� ������ �׸��� ���� <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/

.sbgrid_HSA_st {									/*���� ��ũ�ѹ� ���� <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	background-color:#B2BAD2 !important;
}

.sbgrid_CMA_st {									/*�÷� �̵� �Ӽ��� Ȱ��ȭ�Ǿ� ���� ��, ��� ���� �÷��� ���콺 �巡���ϸ� ��Ÿ���� ColumnMoveArea <DIV>�� ����Ǵ� ��Ÿ�� CSS Ŭ����*/
	background: #B2BAD2;
	filter: alpha(opacity = 80);
	opacity: 0.9;
}

.sbgrid_RHA_st {}
.sbgrid_FCA_st {}
.sbgrid_FA_st {}
.sbgrid_DA_st {}
.sbgrid_WMA_st {}
.sbgrid_FFRHA_st {}
.sbgrid_FCHA_st {}
.sbgrid_FFHA_st {}
.sbgrid_FHA_st {}
.sbgrid_CML_st {
	background: #6495ED;
}

.sbgrid_RHT_st {}
.sbgrid_FCT_st {}
.sbgrid_FT_st {}
.sbgrid_DT_st {}
.sbgrid_WMT_st {}
.sbgrid_FFRHT_st {}
.sbgrid_FCHT_st {}
.sbgrid_FFHT_st {}
.sbgrid_FHT_st {}

.sbgrid_focus_st {									/*�׸����� ��Ŀ�� ���� ��Ÿ��*/
	background-color:#3161C6 !important;
	color:#FFFFFF !important;
	border-color:#B2BAD2;
	font-weight:bold !important;
}

.sbgrid_sort_asc_st {								/*�������� ���� ������ ��Ÿ��*/
	background:url(../img/grid/sort_asc.png) 50% 50% no-repeat;
}

.sbgrid_sort_desc_st {								/*�������� ���� ������ ��Ÿ��*/
	background:url(../img/grid/sort_desc.png) 50% 50% no-repeat;
}

.sbgrid_fixed_table_st td.sbgrid_fixed_cell_st:hover{		/*��� ������ ���� hover �߻� �� ��Ÿ��*/
	background-color:#C5DCF0 !important;
}

.sbgrid_data_cell_hover_st,.sbgrid_data_row_hover_st {		/*������ ������ ��/�࿡ hover �߻� �� ��Ÿ��*/
	background-color:#DEEFFD !important;
	color:#3161C6 !important;
	font-weight:bold !important;
}

.sbgrid_data_cell_hover_st,.sbgrid_data_row_hover_st td {	/*������ ������ ��/���� hover �߻� �� TD�� ����Ǵ� ��Ÿ��*/
	border-color: #C5DCF0;
}

.sbgrid_renderer_span {}

.sbgrid_FIA_before_st{										/*FilteringIconArea�� ���͸� ���� �� ��Ÿ�� CSS Ŭ����*/
	background:url(../img/grid/filter_before.png) 50% 50% no-repeat;
}

.sbgrid_FIA_after_st{										/*FilteringIconArea�� ���͸� ���� �� ��Ÿ�� CSS Ŭ����*/
	background:url(../img/grid/filter_after.png) 50% 50% no-repeat;
}

.sbgrid_FTRA_IAB{
	background:url(../img/grid/plus.png) 50% 50% no-repeat;
}

.sbgrid_combo_button_st{
	width:20px;
	background:url(../img/grid/combobutton.png) 50% 50% no-repeat;
	background-position:center;
	border: 1px solid #dadada;
	border-radius: 4px;
	margin-right:2px;
}

.sbgrid_datepicker_button_st{
	width:95%;
	height:18px;
	background:url(../img/grid/cal_button.png) no-repeat;
	background-color:#f0f0f0;
	background-position:center;
	border:1px solid #cdcdcd;
	cursor:Pointer;
}

.sbgrid_GFA_none_logo_st{
	background-image:none !important;
}

.sbgrid_status_area_update{
	background:url(../img/grid/edit_status.png) no-repeat;
	background-position: center;
	width: 100%;
	height: 18px;
}

.sbgrid_status_area_delete{
	background:url(../img/grid/delete_status.png) no-repeat;
	background-position: center;
	width: 100%;
	height: 18px;
}

.sbgrid_status_area_insert{
	background:url(../img/grid/add_status.png) no-repeat;
	background-position: center;
	width: 100%;
	height: 18px;
}

.sbgrid_status_area_select{
	background:url(../img/grid/checked.png) no-repeat;
	background-position: center;
	width: 100%;
	height: 18px;
}