<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>VeteranPage</title>
    <script language="javascript">
        var SBpath = "./";	//SBGrid v2.5 Library인 'SBGrid'폴더 상대경로
    </script>
    <script src="./SBGrid/SBGrid_Lib.js" type="text/javascript"></script>
    <script src="./SBGrid/SBGrid_min.js" type="text/javascript"></script>
    <link href="./SBGrid/css/SBGrid.css" rel="stylesheet" type="text/css">
    <link href="./SBGrid/css/SBGrid_Default.css" rel="stylesheet" type="text/css">
    <script src="./VeteranPage.js" type="text/javascript"></script>
</head>
<body style="padding: 20px">
    <div>
        <h2 style="text-align: center">Veteran 질의서 확인(Veteran용)</h2>
    </div>
    <div>
        <div id="Veteran" style="width : 1020px; height : 700px; float : left; margin-right: 30px" ></div>
        <div id="documentGrid" style="width:400px; height:700px; float:left;"></div>
        <!--<textarea id="document" style="float:left;width : 400px; height : 700px;"></textarea>-->
    </div>
</body>
</html>